@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Noto+Serif+Display:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Serif Display", serif;
  font-weight: 300;
  letter-spacing: 1px;
}
